<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JLBlurImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42D0BF021E63D9EF0059F57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42D0BF1B1E63D9EF0059F57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42D0BF261E63D9EF0059F57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
